<div class="container ">
    <div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">
<md-card class="form-group">
    <md-card-header>
    <img md-card-avatar src="https://material.angularjs.org/latest/img/washedout.png">
        <md-card-title>Omar</md-card-title>
        <md-card-subtitle>{{today | date:'mediumDate'}}</md-card-subtitle>
    </md-card-header>

    <img md-card-image alt="Main image" src="https://material.angularjs.org/latest/img/washedout.png" >

        <md-card-title>what is your favorite team ?</md-card-title>
    <div >
    <input type="radio" name="answers" value="answer1 one" checked/> answer 1

    <input type="radio" name="answers" value="answer one" /> answer 2
    </div>



    <ul class="list-inline">
        <li *ngFor="let item of tags" class="small"><a href="#">#{{item}}</a></li>
    </ul>
    <div class=" row form-group text-center ">
     <button class="form-control col-xs-7" >see more..</button>
    <br/>
        <br/>

        <span class="glyphicon glyphicon-share-alt pull-left"> ... </span>
        <button  color="primary" class="btn btn-primary ">submit</button>
    </div>



</md-card>

</div>
<div class="col-lg-3"></div>
    </div>
</div>

