<div class="container">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <div>
        <button (click)="phone_btn_onclick()">SignUp</button>

      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>

