<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form class="col-xs-8" (ngSubmit)="submit()">
            <h3 class="text-center">Categories</h3>
            <ul class="list-inline form-inline">

                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >

                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
                <li class="checkbox"><i class="fa fa-address-book fa-4x"></i></li>
                <input class="checkbox" type="checkbox" >
            </ul>
                <div class="col-xs-9 text-center">
                <button class="btn btn-primary form-control" type="submit">Continue</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>

    </div>

</div>
