<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <form class="col-xs-8">
                <h3 class="text-center">Find Your friends</h3>
                <ul class="list-inline">
                    <li>
                    <h4 >Find Your friends</h4>
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li>
                    <button class="btn btn-primary">Follow All</button>
                    </li>
                </ul>
                <div class="form-group">
                    <input class="form-control"  type="search"/>
                </div>

                <ul class="list-group">
                    <li>
                        <ul class="list-inline">
                            <li><i class="fa fa-address-book fa-lg"></i></li>
                            <li>omar omar</li>
                            <li><input type="checkbox"/></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-inline">
                            <li><i class="fa fa-address-book fa-lg"></i></li>
                            <li>omar omar</li>
                            <li><input type="checkbox"/></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-inline">
                            <li><i class="fa fa-address-book fa-lg"></i></li>
                            <li>omar omar</li>
                            <li><input type="checkbox"/></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-inline">
                            <li><i class="fa fa-address-book fa-lg"></i></li>
                            <li>omar omar</li>
                            <li><input type="checkbox"/></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-inline">
                            <li><i class="fa fa-address-book fa-lg"></i></li>
                            <li>omar omar</li>
                            <li><input type="checkbox"/></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-inline">
                            <li><i class="fa fa-address-book fa-lg"></i></li>
                            <li>omar omar</li>
                            <li><input type="checkbox"/></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-inline">
                            <li><i class="fa fa-address-book fa-lg"></i></li>
                            <li>omar omar</li>
                            <li><input type="checkbox"/></li>
                        </ul>
                    </li>
                    <li>
                        <ul class="list-inline">
                            <li><i class="fa fa-address-book fa-lg"></i></li>
                            <li>omar omar</li>
                            <li><input type="checkbox"/></li>
                        </ul>
                    </li>
                </ul>
                <div class="col-xs-9 text-center">
                    <button class="btn btn-primary form-control">Continue</button>
                </div>
            </form>
        </div>
        <div class="col-lg-3"></div>

    </div>

</div>