
<div class="container">
    <div class="row">
<div class="col-lg-3"></div>
<div class="col-lg-6">

<form class="form-group col-xs-7" [formGroup]="registerForm" (ngSubmit)="submitForm()" novalidate>
<h3 class="text-center">Registration</h3>
    <input type="text" class="form-control form-group" placeholder="name"  formControlName="name"/>
    <input type="text" class="form-control form-group" placeholder="userName"  formControlName="userName"/>
    <input type="email" class="form-control form-group" placeholder="name"  formControlName="email"/>
    <input type="text" class="form-control form-group" placeholder="name"  formControlName="mobileNumber"/>
    <input type="text" class="form-control form-group" placeholder="name"  formControlName="gender"/>
    <input type="text" class="form-control form-group" placeholder="name"  formControlName="location"/>
    <input type="date" class="form-control form-group" placeholder="name"  formControlName="birthDate"/>
    <button type="submit" class="btn btn-primary form-control" [disabled]="!registerForm.valid" >Submit</button>
</form>
    <div class="col-lg-6 text-center">
        Or Sign Up with

    <ul class="list-inline">
        <li  class="btn btn-primary"><i class="fa fa-facebook-square fa-lg" (click)="login()" ></i></li>
        <li class="btn btn-danger"><i class="fa fa-google-plus-square fa-lg"></i></li>
        <li class="btn btn-primary" ><i class="fa fa-twitter-square fa-lg"></i></li>
    </ul>
    </div>
</div>
<div class="col-lg-3"></div>
</div>
</div>

